/* Colors based on WWU Münster CI, see https://sso.uni-muenster.de/imperia/md/content/wwu/cd/download/print_all/171130_wwu_cd_manual_2017_web.pdf */
/* Approach inspired by https://www.johnlittle.info/dukeslides/ */

/*
MtNoIt__.ttf: MetaNormal\-Italic:style=Regular
MtNoLFIt.ttf: MetaNormalLF\-Italic:style=Regular
MtBdRo__.ttf: MetaBold\-Roman:style=Regular
MtNoRo__.ttf: MetaNormal\-Roman:style=Regular
MtBdLFRo.ttf: MetaBoldLF\-Roman:style=Regular
MtNoLFRo.ttf: MetaNormalLF\-Roman:style=Regular

LF = lining figures = Versalziffern
*/

body {
  font-family: "MetaNormalLF\-Roman", 'Verdana', serif;
  color: #3E3E3B;
}

.remark-slide-content {
  font-size: 28px;
  padding: 2em 2em;
}

.remark-slide-content li {
  line-height: 32px;
}

.remark-slide-content {
  background-image: url("WWUMuenster_Logo_2017_rgb.svg"), url("o2r-logo.svg");
  background-position: 1% 1%, 103% 3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 142px, 120px;
}

a, a > code {
  color: #af0078;
  font-family: "MetaBoldLF\-Roman", 'Verdana', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'MetaBoldLF\-Roman', 'Verdana', sans-serif;
  font-weight: normal;
}

.remark-slide-content h1 {
  font-size: 45px;
}
.remark-slide-content h2 {
  font-size: 40px;
}
.remark-slide-content h3 {
  font-size: 30px;
}

.remark-code, .remark-inline-code { 
  font-family: 'Source Code Pro', 'Lucida Console', monospace;
}

.remark-slide-number {
  font-family: "MetaNormalLF\-Roman", sans-serif;
  font-size: 18px;
}

.wwu-cassis {
	background-color: #af0078;
  background-image: url("WWUMuenster_Logo_2017_rgb_negativ.svg"), url("o2r-logo.svg");
  background-position: 1% 1%, 103% 3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 142px, 120px;
}
.wwu-cassis a, .wwu-cassis a > code {
	color: #B1C800;
	text-decoration: none;
}
.wwu-cassis h1, .wwu-cassis h2, .wwu-cassis h3 {
	color: #B1C800;
}

.wwu-darkblue {
	background-color: #00578a;
	color: #ffffff;
  background-image: url("WWUMuenster_Logo_2017_rgb_negativ.svg"), url("o2r-logo-blackbg.svg");
  background-position: 1% 1%, 103% 3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 142px, 120px;
}
.wwu-darkblue a, .wwu-darkblue a > code {
	color: #B1C800;
	text-decoration: none;
}
.wwu-darkblue h1, .wwu-darkblue h2, .wwu-darkblue h3 {
	color: #B1C800;
}

.wwu-lightblue {
	background-color: #009DD1;
	color: #ffffff;
  background-image: url("WWUMuenster_Logo_2017_rgb_negativ.svg"), url("o2r-logo.svg");
  background-position: 1% 1%, 103% 3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 142px, 120px;
}
.wwu-lightblue a, .wwu-lightblue a > code {
	color: #B1C800;
	text-decoration: none;
}
.wwu-lightblue h1, .wwu-lightblue h2, .wwu-lightblue h3 {
	color: #B1C800;
}

.wwu-bluegreen {
	background-color: #006E89;
	color: #ffffff;
  background-image: url("WWUMuenster_Logo_2017_rgb_negativ.svg"), url("o2r-logo.svg");
  background-position: 1% 1%, 103% 3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 142px, 120px;
}
.wwu-bluegreen a, .wwu-bluegreen a > code {
	color: #B1C800;
	text-decoration: none;
}
.wwu-bluegreen h1, .wwu-bluegreen h2, .wwu-bluegreen h3 {
	color: #ffffff;
}

.wwu-greenblue {
	background-color: #008E96;
  background-image: url("WWUMuenster_Logo_2017_rgb_negativ.svg"), url("o2r-logo.svg");
  background-position: 1% 1%, 103% 3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 142px, 120px;
}
.wwu-greenblue a, .wwu-greenblue a > code {
	color: #ffffff;
	text-decoration: none;
}
.wwu-greenblue h1, .wwu-greenblue h2, .wwu-greenblue h3 {
	color: #ffffff;
  line-height: 0.8em;
}

.wwu-green {
	background-color: #7AB51D;
  background-image: url("WWUMuenster_Logo_2017_rgb_negativ.svg"), url("o2r-logo.svg");
  background-position: 1% 1%, 103% 3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 142px, 120px;
}
.wwu-green a, .wwu-green a > code {
	color: #ffffff;
	text-decoration: none;
}
.wwu-green h1, .wwu-green h2, .wwu-green h3 {
	color: #ffffff;
}

.wwu-lightgreen {
	background-color: #B1C800;
  background-image: url("WWUMuenster_Logo_2017_rgb_negativ.svg"), url("o2r-logo.svg");
  background-position: 1% 1%, 103% 3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 142px, 120px;
}
.wwu-lightgreen a, .wwu-lightgreen a > code {
	color: #00578a;
	text-decoration: none;
}
.wwu-lightgreen h1, .wwu-lightgreen h2, .wwu-lightgreen h3 {
	color: #00578a;
}

.inverse {
  background-color: #3E3E3B;
  color: rgb(62,62,59);
  background-image: url("WWUMuenster_Logo_2017_rgb_negativ.svg"), url("o2r-logo-blackbg.svg");
  background-position: 1% 1%, 103% 3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 142px, 120px;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #ffffff;
}

.imageTop {
  vertical-align: top;
}

.inline_highlight {
  color: #B1C800;
  font-family: "MetaBoldLF\-Roman", sans-serif;
}

small {
  font-size: 16px;
}

.alot {
  font-size: 14px;
}

.remark-notes {
  line-height: 150%;
}

.remark-notes-preview {
  line-height: 110%;
}

.rotate_cc_right {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

  position: absolute;
  left: 75%;
  top: 10%;
  font-size: 60%;
  width:100vh;
}

.small {
	font-size: 1.4em;
	line-height: 1.4em;
}

.more h1, .more h2 {
  margin-top: -1.2em;
  margin-left: 6em;
}

.more h3, .more h4, .more h5, .more h6 {
  margin-top: -0.6em;
  margin-left: 6em;
}

.more {
  padding-left: 1em;
  padding-right: 1em;
}

.more .remark-slide-content {
  font-size: 24px;
}

.maximum {
  font-size: 14px;
}

.maximum li {
  line-height: 14px;
  margin-top: 4px;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
    line-height: 2em;
  }
  h1, h2, h3, h4, h5, h6  {
    line-height: 2em;
  }
  .title-slide h1, .title-slide h2, .title-slide h3 {
    line-height: 1em;
  }
}
